<div class="activities">
  <div class="hero-content">
    <h1 style="font-size: 3vw;">Welcome to Training Club</h1>
    <p style="font-size: 1.3vw;">Unlock Your Potential with Our Diverse Training Programs</p>
    <a class="cta-button">Explore Programs</a>
  </div>
  <div class="  d-flex justify-content-end align-items-center">
    <select [(ngModel)]="category" (change)="searchact()" class="form-select form-select-sm me-2" style="width: 15rem;">
      <option *ngFor="let category of categories" [value]="category" style="font-weight: bold;">{{category}}</option>
    </select>
    <div class="search ui category search me-2">
      <div class="ui icon input">
        <input class="prompt form-control" type="text" placeholder="Search ..." [(ngModel)]="search">
        <i class="search icon"></i>
      </div>
    </div>
    <button (click)="searchact()" class="btn btn-light searchbtn">Search</button>
  </div>
  <div class="act">
    <ng-container>
      <ng-container *ngFor="let act of activities">
        <app-activite [activitie]="act"></app-activite>
      </ng-container>
    </ng-container>

    <div *ngIf="activities.length==0" class="no-results-message">No results found.</div>
  </div>
</div>