.mat-calendar {
  max-width: 250px; 
  font-size: 14px; 
  margin-bottom: 2%;
}

.mat-calendar-table-header th {
  padding: 8px; 
}

.mat-calendar-body-cell {
  padding: 4px; 
}


::ng-deep.special-date {
  border:2px solid rgb(203, 16, 82)!important;
 
  border-radius: 50%;
 
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 30%;
padding: 2%;
 margin-bottom: 10%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


.delete-button {
  padding: 5px 10px;
  background-color:rgb(189, 11, 73);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: rgb(143, 10, 56);
}

