.mat-calendar {
  max-width: 250px; 
  font-size: 14px; 
}

.mat-calendar-table-header th {
  padding: 8px; 
}

.mat-calendar-body-cell {
  padding: 4px; 
}


::ng-deep.special-date {
  background-color: rgb(189, 11, 73)!important;
 
  border-radius: 50%;
 
}
