nav{
    padding-left: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
      background-color: #333; 
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


  
  .navbar-button {
    background-color: rgb(189, 11, 73); 
    color: #fff; 
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  .navbar-img {
    border-radius: 50%; 
  }
  
 
  .navbar-button, .navbar-img {
    transition: background-color 0.3s ease;
  }

  
  
  