<form [formGroup]="updatepassword" (ngSubmit)="updatepwd()" novalidate class="form">
    <label >Old Password</label>
    <input type="password" formControlName="oldpassword">
    <label >New Password</label>
    <input type="password" formControlName="newpassword">
    <div *ngIf="isValidNewPass()" style="color: #bd0b49;text-align: center;">
         Invalid
    </div>
    <label >Confirm Password</label>
    <input type="password" formControlName="confirmpassword">
    <div *ngIf="isMatchPass()" style="color: #bd0b49;text-align: center;">
        Confirm Password Dosent Match
    </div>
    <input type="submit" value="Update" [disabled]="updatepassword.invalid">
</form>