<div class="mat-elevation-z8" style="margin-left: 20%;margin-top: 10%; width: 50%;">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let activity"> {{ activity.id }} </td>
        </ng-container>



        <ng-container matColumnDef="intitule">
            <th mat-header-cell *matHeaderCellDef>Titled </th>
            <td mat-cell *matCellDef="let activity"> {{ activity.intitule }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let activity">
              <button mat-icon-button color="primary" (click)="editAct(activity)"  >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteAct(activity.id)" >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"
        showFirstLastButtons></mat-paginator>
</div>
<input type="button" value="Consult Activities" (click)="consult()" style="margin: 10%;margin-left: 77%;background-color: transparent;border: transparent;font-size: x-large;">
<div *ngIf="open">
<div *ngFor="let activitie of activities" style="margin-left: 15%;">
  <div class="card">
  <h1 class="card-title">{{ activitie.intitule | pipePerso }}</h1>
    <img [src]="activitie.photo">
  
    <h3>{{ activitie.description }}</h3>
    <p>
      <span *ngIf="activitie.prix == 0" class="text-success" style="font-weight: bold;">FREE</span>
      <span *ngIf="activitie.prix > 0">{{ activitie.prix }}DT</span> | {{ activitie.nbplace }} places
    </p>
    <p *ngIf="activitie.nbplace > 0" class="text-success" style="font-weight: bold;">Available</p>
    <p *ngIf="activitie.nbplace == 0" class="text-danger" style="font-weight: bold;">Not available</p>
    <p *ngIf="activitie.certification"  class="text-success" style="font-weight: bold;">Certified</p>
    <p><span style="font-weight: bold;">Start Date :</span> {{ activitie.date_debut | date }}</p>
    <p><span style="font-weight: bold;">Duration :</span> {{ activitie.duree }}</p>
  
    <div *ngIf="activitie.skills">
      <h3>Skills :</h3>
      <ul class="list-group">
        <li *ngFor="let skill of activitie.skills" class="list-group-item">
          {{ skill.skillName }} - {{ skill.niveau }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="activitie.formateur">
      <h3>Formateur :</h3>
      <ul class="list-group mt-2">
        <li *ngFor="let formateur of activitie.formateur" class="list-group-item">
          {{ formateur.nomComplet }}--{{ formateur.intitule }}
        </li>
      </ul>
    </div>
  </div>
  

</div>
</div>
