<div class="big-container">
    <div class="container" [ngClass]="{ 'sign-up-mode': isSignupMode }"  >
        <div class="signin-signup">
            <form  class="sign-in-form" [formGroup]="singIn" (ngSubmit)="LogIn()" novalidate> 
                <h2 class="title" style="margin-top: -20%;">Sign in</h2>

                <div class="input-field"  >

                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" name="username" pInputText title="Enter your username" formControlName="username">
                </div>
                <div *ngIf="isValidLogInUsername()" style="color: red;">invalid username</div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" pInputText title="Enter your password" formControlName="password" >
                </div>
                <div *ngIf="isValidLogInPassword()" style="color: red;">invalid password</div>
                <input type="submit" value="Login" class="btn" [disabled]="singIn.invalid" >
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a  class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a  class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a  class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a  class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
            <form  class="sign-up-form" [formGroup]="singUp" (ngSubmit)=" SingUp()" novalidate>
                <h2 class="title" style="margin-top: 5%;">Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" formControlName="userName">
                    <div *ngIf="isValidName()">
                        invalid name
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email" formControlName="email">
                    <div *ngIf="isValidEmail()">
                        invalid email
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" formControlName="password">
                    <div *ngIf="isValidPass()">
                        invalid password
                    </div>
                </div>
                <input type="submit" value="Sign up" class="btn" [disabled]="singUp.invalid">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a  class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a  class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a  class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a  class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
        <div class="panels-container">

            <div class="panel left-panel">
           
                <div class="content" style="margin-top: 20%;" >
                 
                    <div class="cube">
                        <div class="topD"></div>
                        <div>
                          <span style="--i:0"></span>
                          <span style="--i:1"></span>
                          <span style="--i:2"></span>
                          <span style="--i:3"></span>
                        </div>
                      
                        <div class="cube2">
                          <div>
                            <span style="--i:0"></span>
                            <span style="--i:1"></span>
                            <span style="--i:2"></span>
                            <span style="--i:3"></span>
                          </div>
                      
                          <div class="cube3">
                            <div class="top3"></div>
                            <div>
                              <span style="--i:0"></span>
                              <span style="--i:1"></span>
                              <span style="--i:2"></span>
                              <span style="--i:3"></span>
                            </div>
                      
                          </div>
                      
                        </div>
                      </div>
                      
                    <h3>Member of UniSavoir?</h3>
                  
                    <button class="btn " id="sign-in-btn" (click)="onSignupClick()">Sign in</button>
               
                </div>
    
            </div>
            <div class="panel right-panel">
                <div class="content" style="margin-top:-20%">

                    <h3>New to UniSavoir?</h3>
                   
                    <button class="btn" id="sign-up-btn" (click)="onSignupClick()">Sign up</button>
                        <div class="cube" style="margin-top: 2%;">
            <div class="topD"></div>
            <div>
              <span style="--i:0"></span>
              <span style="--i:1"></span>
              <span style="--i:2"></span>
              <span style="--i:3"></span>
            </div>
          
            <div class="cube2">
              <div>
                <span style="--i:0"></span>
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
              </div>
          
              <div class="cube3">
                <div class="top3"></div>
                <div>
                  <span style="--i:0"></span>
                  <span style="--i:1"></span>
                  <span style="--i:2"></span>
                  <span style="--i:3"></span>
                </div>
          
              </div>
          
            </div>
          </div>
                </div>
            </div>
        </div>
 