<app-slidershow></app-slidershow>

<div class="ourjob">
    <h1>Discover the Best of Clubbing</h1>
    <main>
        <section class="act">
            <div class="act_image">
            </div>
            <h2>Activities</h2>
            <div class="act_description">
                <p>Formclub offers a wide array of training programs to provide our members with a well-rounded learning
                    journey. From intensive workshops to relaxed study sessions and enjoyable skill-building classes, we
                    cater to various learning preferences. Our dedicated instructors work to create an inclusive and
                    supportive environment, encouraging exploration of new subjects, skill improvement, and connections
                    with fellow learners. With a focus on enjoyment and personal growth, our training activities are
                    designed to take your educational club's experience to the next level</p>
            </div>
        </section>
        <aside class="event">
            <div class="event_image">
            </div>
            <h2>Events</h2>
            <div class="act_description">
                <p>At Formclub, we’re committed to providing our guests with a unique and unforgettable clubbing
                    experience. Our events calendar is packed with exciting and exclusive events, ranging from live
                    music performances to theme parties and beyond. With a focus on quality and innovation, we
                    collaborate with talented artists and performers to bring you the best in entertainment. Whether
                    you’re looking to dance the night away or simply enjoy a drink with friends, our events are the
                    perfect way to add a touch of glamour to your clubbing experience.</p>
            </div>
        </aside>
    </main>
    <article class="about">
        <div class="about_image">
        </div>
        <h2>About</h2>
        <div class="act_description">
            <p>Formclub is not just a training center, it's a community. Our mission is to build an inviting and
                inclusive space where members can unite to experience the best in educational clubbing. With an emphasis
                on enjoyment, personal growth, and engagement, we are dedicated to offering a variety of training
                programs and events that cater to a wide range of interests and learning styles. Our core values of
                inclusivity, diversity, and respect are at the heart of everything we do, influencing our recruitment
                practices, partnerships, and collaborations. Explore our journey and join us as we redefine the
                educational club experience</p>
        </div>
    </article>
    <section >
        <h1 style="text-align: center;padding: 4%;padding-bottom: 8%;">Our Departement</h1>
        <app-departement></app-departement>
        <app-weather></app-weather>
    </section>
</div>