<section class="program-section"  >
  <div class="container"  >
    <div class="program" style="padding: 2%;" >
      <img [src]="activitie.photo" alt="{{ activitie.intitule }}" class="program-image">
      <div class="program-info">
        <h3>{{ activitie.intitule | uppercase }}</h3>
        <p>{{ activitie.description }}</p>
        <div style="margin-left: 25%;margin-top: 10%; display: flex;justify-content: space-around;">
        <a class="cta-button" (click)="openAct()">See More</a>
        <input type="button" class="cta-button" (click)="Subscribe()"  value="Subscribe">
      </div>
      </div>
    </div>
  </div>
</section>
