<div class="container mt-5" style="margin-left: 20%;">
    <form [formGroup]="profileForm" (ngSubmit)="update()" novalidate >
        <input type="text" formControlName="" hidden>

      <div class="mb-3">
        <label for="user" class="form-label">FullName</label>
        <input type="text" class="form-control" id="user" formControlName="fullName">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="isValidEmail()" style="color: #bd0b49;text-align: center;">
          Invalid Email
       </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">adresse</label>
        <input type="email" class="form-control" id="email" formControlName="adresse">
        <div *ngIf="isValidAdresse()" style="color: #bd0b49;text-align: center;">
          Invalid Adresse
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Phone</label>
        <input type="email" class="form-control" id="email" formControlName="phoneNumber">
        <div *ngIf="isValidPhone()" style="color: #bd0b49;text-align: center;">
          Invalid Phone Number
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Submit</button>
    </form>
  </div>
  
