<main>

    
    <div class="blog-container" *ngIf="userData">
        <h1>Create a New Blog</h1>
        <form [formGroup]="addblog" (ngSubmit)="saveblog()" novalidate>
            <div class="form-group">
                <label for="title">Blog Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter the blog title" formControlName="title">
             
            </div>
            <div>
            <div *ngIf="isValidTitle()" class="alert alert-danger">
                Le titre doit avoir au moins 6 caractères et commencer par une majuscule.
              </div>
              <div *ngIf="isValidTitleLength()" class="alert alert-danger">
                Le titre doit avoir au moins 6 caractères 
              </div>
              <div *ngIf=" isValidTitlePattren()" class="alert alert-danger">
                Le titre doit  commencer par une majuscule.
              </div>
            </div>
            <div class="form-group">
                <label for="content">Blog Content</label>
                <textarea class="form-control" id="content" rows="6" placeholder="Enter the blog content"
                     formControlName="content"></textarea>
                     <div *ngIf=" isValidContent() " class="alert alert-danger">
                        required
                     </div>
                     <div *ngIf="  isValidContentLength() " class="alert alert-danger">
                       maxlength
                     </div>
                     
            </div>
            <div class="btn-container">
                <button type="submit" class="submit-btn">Submit
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>
            </div>
        </form>

    </div>
    
</main>

