main{
    padding: 4%;
    
}
.blog-container{
    background-color: transparent;
padding: 3%;
width: 60%;

}
h1{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
     font-weight:bold ;
     font-size: x-large;
     font-style: italic;
}
.btn-container{
    text-align: center;
    padding: 2%;
   
}
.submit-btn{
    padding: 1%;
height: 100%;
width: 25%;

background-color: transparent;
border: none;
}

