<main>

    
    <div class="blog-container" *ngIf="userData">
        <h1>Create a New Blog</h1>
        <form [formGroup]="addblog" (ngSubmit)="saveblog()" novalidate>
            <div class="form-group">
                <label for="title" style="font-style: italic;">Blog Title</label>
                <input type="text" class="form-control" id="title" pInputText title="Enter the blog title" formControlName="title">
             
            </div>
            <div>
            <div *ngIf="isValidTitle()" style="color: #bd0b49;text-align: center;">
              The title must be at least 6 characters long and start with a capital letter.              </div>
              <div *ngIf="isValidTitleLength()"style="color: #bd0b49;text-align: center;">
                The title must be at least 6 characters              </div>
              <div *ngIf=" isValidTitlePattren()" style="color: #bd0b49;text-align: center;">
                The title must begin with a capital letter.
                            </div>
            </div>
            <div class="form-group">
                <label for="content"  style="font-style: italic;">Blog Content</label>
                <textarea class="form-control" id="content" rows="6" pInputText title="Enter the blog content"
                     formControlName="content"></textarea>
                     <div *ngIf=" isValidContent() " style="color: #bd0b49;text-align: center;">
                   Invalid
                     </div>
                     <div *ngIf="  isValidContentLength() " style="color: #bd0b49;text-align: center;">
                      you have exceeded the maximum length
                     </div>
                     
            </div>
            <div class="btn-container">
                <button type="submit" class="submit-btn"  style="font-style: italic;" [disabled]="addblog.invalid">Add
    
                </button>
            </div>
        </form>

    </div>
    
</main>

