
<div   style="background-color: transparent;border: transparent;">
  <div class="row">
    <div class="col-md-2 no-trans">
      <span class="text-dark font-medium" style="font-size: large;">{{blog.dateBlog| date: 'short'}}</span>
      <h6 class="card-subtitle font-12 mt-1" style="font-size: large;color: grey;"> By {{blog.author}}</h6>
    </div>
    <div class="col-md-7 no-trans" style="margin-left: 4vw;">
      <h5 class="font-medium cursor-pointer" style="font-size: x-large;padding-bottom: 2vw;font-style: italic;">
        {{blog.title|uppercase}}
      </h5>
      <p class="m-t-20" style="font-size: x-large;font-style: italic;color: grey;">
        {{blog.content}}
      </p>
    </div>
    
  </div>
</div>





